<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">CONNEXION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="container">

  <ion-card>
    <img src="./assets/bayatapp.gif" />
    <ion-card-header>
      <ion-card-subtitle>DIRECTION DES OPERATIONS</ion-card-subtitle>
      <ion-card-title>BAYAT CATERING</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="signIn()">CONNEXION</ion-button>

    </ion-card-content>
  </ion-card>



</ion-content>
